.container {
    height: 300px;
    width: 600px;
    background-color: black;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 100px 100px 100px 100px;
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 50px;
    justify-items: start;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    align-items: center;
    justify-items: center;
}

/* .one {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}

.two {
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 3;
} */