/* h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
}

p {
    color: red;
    line-height: 30px;
    text-align: center;

}

a {
    color: green;
    text-decoration: none;

}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: #000000;
}

span {
    text-decoration: underline;
} */

#mainTopic {
    color: blue;
}

* {
    text-align: center;
}

h1,
h3,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.content {
    color: white;
    background-color: cornflowerblue;
}

div button {
    color: azure;
    background-color: purple;
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked+label {
    color: darkgreen;
}



/* 
#mainContent
div .main
main
h1
*/