/* div {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    display: inline-block;
    background-color: green;
    transition: margin-top 2s ease-in-out 0.2s;
    transition-duration: 5s;
    transition-delay: 2s;
}

div:hover {
    margin-top: 400px;
    border-radius: 50%;
    background-color: pink;
} */


/* .card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 1s;
}
 
img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 2px 8px 16px black;

} */

/* 
div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static {
    background-color: blue;
    position: static;
    top: 100px;
    left: 100px;
}


#relative {
    background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute {
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed {
    background-color: blue;
    position: fixed;
    top: 100px;
    left: 100px;
} */


.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye,
.right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;

}

.right-eye {
    left: 250px;

}