<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1> Home page</h1>
    <h2>
        <%= 1 + 2%>
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nulla, ut corrupti exercitationem harum
        voluptate quos ratione fugit similique voluptates, illum molestias nihil qui sed soluta nemo maxime quia veniam.
    </p>


</body>

</html>